/node_modules
/public/hot
/vendor
/.idea
/.vagrant
Homestead.json
composer.lock
package-lock.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/js/app.js
/public/storage
/public/builder
/public/uploads/
/config
artisan
database
/storage
/bootstrap
/database
phpunit.xml
private
**/public/js/app.js
*.env
*.env.example
/public/element_images
/public/images
/public/frontend/images
/public/assets/images
/images