    /*
    Flaticon icon font: Flaticon
    Creation date: 03/05/2018 09:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-video-camera:before { content: "\f100"; }
.flaticon-picture:before { content: "\f101"; }
.flaticon-painter-palette:before { content: "\f102"; }
.flaticon-cross-circular-button-outline:before { content: "\f103"; }
.flaticon-down-arrow:before { content: "\f104"; }
.flaticon-arrow-chevron:before { content: "\f105"; }
.flaticon-desktop:before { content: "\f106"; }
.flaticon-technology:before { content: "\f107"; }
.flaticon-eye:before { content: "\f108"; }
.flaticon-tick-inside-circle:before { content: "\f109"; }
.flaticon-settings:before { content: "\f10a"; }
.flaticon-time-left:before { content: "\f10b"; }
.flaticon-up-arrow:before { content: "\f10c"; }
.flaticon-background:before { content: "\f10d"; }
.flaticon-add:before { content: "\f10e"; }
.flaticon-upload:before { content: "\f10f"; }
.flaticon-mathematical-addition-sign:before { content: "\f110"; }
.flaticon-blogger-logo:before { content: "\f111"; }
.flaticon-menu-button-of-three-horizontal-lines:before { content: "\f112"; }
    
    $font-Flaticon-video-camera: "\f100";
    $font-Flaticon-picture: "\f101";
    $font-Flaticon-painter-palette: "\f102";
    $font-Flaticon-cross-circular-button-outline: "\f103";
    $font-Flaticon-down-arrow: "\f104";
    $font-Flaticon-arrow-chevron: "\f105";
    $font-Flaticon-desktop: "\f106";
    $font-Flaticon-technology: "\f107";
    $font-Flaticon-eye: "\f108";
    $font-Flaticon-tick-inside-circle: "\f109";
    $font-Flaticon-settings: "\f10a";
    $font-Flaticon-time-left: "\f10b";
    $font-Flaticon-up-arrow: "\f10c";
    $font-Flaticon-background: "\f10d";
    $font-Flaticon-add: "\f10e";
    $font-Flaticon-upload: "\f10f";
    $font-Flaticon-mathematical-addition-sign: "\f110";
    $font-Flaticon-blogger-logo: "\f111";
    $font-Flaticon-menu-button-of-three-horizontal-lines: "\f112";