.logo a,
.fancy-btn,
.links-list,
.links-list:before {
    background-color: #733ca6;
}

.header-dropdown span,
.edit-detail label {
    color: #733ca6;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logo svg path,
.fancy-btn svg path,
.links-list svg path {
    fill: #733ca6
}

.fancy-btn-reverse svg path {
    fill: #733ca6
}

.inner-full-width-panel {
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    float: left;
    border-top: 14px solid #7ab428;
    margin-top: 20px;
    padding-bottom: 100px;
    padding-right: 30px;
}
@media (min-width: 320px) and (max-width:900px) {
    .inner-full-width-panel .left-menu>.heading-title {
    font-size: 14px !important;
}
.hash-video-container p strong {
    font-weight: 500;
    font-size: 14px !important;
    padding: 0px 4px !important;
}
}
/*
@media screen and (max-width:768px) {
    .inner-full-width-panel {
        padding-bottom: 0px !important;
    }
}*/

@media screen and (max-width:576px) {
    .inner-full-width-panel {
        padding-right: 0px;
    }
    /*.inner-full-width-panel .right-content {     
        margin-left: 15px;
        margin-right: 15px;
    }*/
}

.inner-full-width-panel .left-menu {
    float: left;
    width: 100%;
    -webkit-box-shadow: 7px 5px 8px -8px rgba(0, 0, 0, 0.36);
    -moz-box-shadow: 7px 5px 8px -8px rgba(0, 0, 0, 0.36);
    box-shadow: 7px 5px 8px -8px rgba(0, 0, 0, 0.36);
}

.inner-full-width-panel .left-menu>.heading-title {
    background-color: #fafafa;
    padding: 25px;
    font-size: 18px;
}

ul.left-panel-menu {}

ul.left-panel-menu>li {
    float: left;
    width: 100%;
}

ul.left-panel-menu>li a {
    float: left;
    width: 100%;
    padding: 20px 25px;
    border-top: 5px solid #eeeeee;
}

ul.left-panel-menu>li a:hover,
ul.left-panel-menu>li a.active {
    background-color: #733ca6;
    color: #fff;
}

ul.left-panel-mini-menu>li a {
    padding: 15px 25px;
}

.inner-full-width-panel .right-content {
    /* float:left;
    width: 100%; */
    /* display: flex; */
}

.inner-full-width-panel .right-content>.top-header {
    float: left;
    width: 100%;
    padding-bottom: 50px;
    padding-top: 30px;
}

.badge-custom {
    background-color: #f6f6f6;
    border: 1px solid #f0eeee;
    font-size: 11px;
    margin-left: 20px;
    padding: 8px 15px;
    color: #909090;
    border-radius: 5px;
}

.single-panel {
    background-color: #fafafa;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.66);
    float: left;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    margin-bottom: 30px;
}

.single-panel>.left,
.single-panel>.op2 {
    background: linear-gradient(#632a97, #733ca6);
    color: #fff;
    float: left;
    /* width: 34%; */
}

.single-panel>.op2 {
    background: linear-gradient(#af4ad4, #cc6def);
}

.single-panel>.left .viewQuote {
    border-radius: 100px;
    width: 140px;
    height: 140px;
    text-align: center;
    border: 10px solid #fff;
    font-size: 29px;
    padding-top: 17px;
    overflow: hidden;
}

.single-panel>.right {
    float: left;
    width: 100%;
}

.single-panel>.right>.header {
    padding: 20px;
    background: linear-gradient(#ffffff, #ececec);
    font-size: 18px;
}
.edit-detail a:hover {
    color: #000;
}

.single-panel>.right>.body {
    padding-top: 50px;
}

.single-panel>.right>.footer {
    padding: 20px;
    background: linear-gradient(#fff, #ececec);
    border-top: 1px solid #e7e7e7;
}

.single-panel .padding-panel {
    padding: 20px;
}

.separator-border-panel {
    border-bottom: 2px solid #ffffff26;
    float: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

ul.single-panel-list {}

ul.single-panel-list>li {
    float: left;
    width: 100%;
    padding-bottom: 10px;
}

ul.single-panel-list>li>a::before {
    content: "";
    border: 2px solid #fff;
    float: left;
    width: 5px;
    height: 5px;
    border-radius: 100px;
    margin-right: 10px;
    padding: 5px;
    margin-top: 5px;
}

.close-panel {
    right: 30px;
    position: absolute;
    margin-top: 20px;
    cursor: pointer;
    z-index: 1;
}

.header-icon-mask {
    background-color: #f9f9f9;
    border: 1px solid #d3d3d3;
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 3px 5px #ffffff;
}

.header-arrow-mask {
    position: absolute;
    bottom: 8px;
}