	/* Popup Box */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8888; /* Sit on top */
    left: 0;
    top: 0; overflow: hidden;
    width: 100%; /* Full width */
    height: 100%; /* Full height */ /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 10vh auto; /* 15% from the top and centered */
    padding:15px !important;
    /*overflow:hidden;*/
    overflow-x: auto;
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
}
@media (min-width: 1366px) {
  .modal-content {
    background-color: #fefefe; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888; /* Could be more or less, depending on screen size */
    }
}
	@media (max-width: 1199px) { .modal{overflow: auto !important;}}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

button.button {
    background:none;
  border-top:none;
  border-right:none;
  font-weight:bold;
  border-left:none;
  text-decoration:none; transition:.7s;
  border:none; outline:none;
  padding:0 0 3px 0;
  font-size:14px;
}

button.button:hover {
  color:#ffc000;
}